body {
    display: flex;
    flex-direction: column;
    align-content: center;
    overflow-x: hidden;
}

nav {
    overflow: hidden;
    background-color: black;
    z-index: 5;
    color: white;
    margin: 0;
    position: fixed;
    width: 100%;
}

#display{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 5rem;
}

#cartButton, #purchase {
    color: white;
    background-color: green;
}

#The-Store{
    width: 64px;
    height: 32px;
}

.card {
    text-align: center;
    width: 23%;
    margin: 5px;
    background-color: white;
}

.addbutton {
    width: 100%;
    background-color: green;
}

.accordionClass {
    text-align: center;
}

footer
{
    display: flex;
    align-content: center;
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0;
    padding: 5px;
    width: 100%;

}