body {
    display: flex;
    flex-direction: column;
    align-content: center;
    overflow-x: hidden;
}

nav {
    overflow: hidden;
    background-color: black;
    color: white;
    margin: 0;
    position: fixed;
    width: 100%;
}

#display{
    text-align: center;
    margin-top: 5rem;
}

footer
{
    display: flex;
    align-content: center;
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0;
    padding: 5px;
    width: 100%;

}